<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=9">
		<meta name="renderer" content="webkit">
		<!-- <meta name="viewport" content="width=1190"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>长三角政务服务“一网通办”</title>
		<link href="../plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../plugin/fontawesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="http://www.shanghai.gov.cn/jhelper_V2.0/jhelper_tool_style.css" rel="stylesheet">
		<!-- style for large viewport -->
		<link href="http://zwdt.sh.gov.cn/zwdtSW/common/css/common.css" rel="stylesheet">
		<link rel="stylesheet" href="css/courtIndex.css">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="http://zwdt.sh.gov.cn/zwdtSW/plugin/supportolder/html5shiv.js"></script>
		<script src="http://zwdt.sh.gov.cn/zwdtSW/plugin/supportolder/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="container">
			<iframe class="customHeader_iframe visible-lg" scrolling="no" style="border:none;width:100%;height:69px;overflow:hidden;"  src="http://csj.sh.gov.cn/govService/head/commonHeaderSmall.jsp"></iframe>
			<div class="bsznContent">
				<div class="success">
					<div>
						<b class="glyphicon glyphicon-ok"></b>
						<span>申报提交成功</span>
					</div>
					<p>统一审批编码：<span>1111111111</span></p>
					<p>申请内容：<span>定量包装商品生产企业计量保证能力（C标志）自我声明</span></p>
					<p style="margin-top:30px;">您的申请于 2020年5月6日 10:10  提交成功</p>
					<p>您可至一网通办<a href="">（http://zwdt.sh.gov.cn）</a>查询办件信息</p>
				</div>
			</div>
			<iframe class="customFooter_iframe visible-lg" scrolling="no" src="http://csj.sh.gov.cn/govService/foot/commonFooter.html" frameborder="0"></iframe>
		</div>

		<!-- <script type="text/javascript">var webRoot = '/govPortals'</script>
		<script src="//zwdt.sh.gov.cn/log/wonders.log.min.js"></script> -->
		<script src="../plugin/jquery/jquery-1.12.0.min.js"></script>
		<script src='../plugin/bootstrap/js/bootstrap.js'></script>
		<script src="http://www.shanghai.gov.cn/jhelper_V2.0/zgsh/jhelper_config.js" charset="gb2312"></script>
   		<script src="http://www.shanghai.gov.cn/jhelper_V2.0/jhelper_2.0.js" charset="gb2312"></script>
		<script src="http://zwdt.sh.gov.cn/govPortals/template/js/head.js"></script>
		<script>
			function doJump(url,name){
				trackEventByUrl(url, name);
				window.open(url, '_blank')
			}
		</script>
	</body>
</html>